@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@300;400&display=swap');
.storybook-card {
  border: 0;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
  height: 398px;
}

.storybook-card-header {
  width: 100%;
  height: 50%;
}

.storybook-card-content {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 50%;
  padding: 16px;
  justify-content: space-between;
  font-family: 'Open Sans';
  font-style: normal;
  color: #999999;
}

.storybook-card-text-container {
  display: flex;
  flex-direction: column;
}

.storybook-card-date {
  margin-top: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
}

.storybook-card-title {
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 10px;
}

.storybook-card-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.storybook-card-link {
  font-weight: 400;
  font-size: 14px;
  color: #006FF5;
  letter-spacing: 0.25px;
  line-height: 19px;
  text-decoration-line: underline;
}

.storybook-card--small {
  width: 100px;
  /* padding: 10px 16px; */
}
.storybook-card--medium {
  width: 360px;
  /* padding: 11px 20px; */
}
.storybook-card--large {
  width: 671px;
  /* padding: 12px 24px; */
}
